<!DOCTYPE html>

<html>
  <head>
      <meta charset="UTF-8">
      <title> Rena IELTS Writing Training </title>
      <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/shilinalucyrena1.appspot.com/main.css">

<!-- <style type="text/css">
      p {background-color: gray; padding: 40px;}

      h1 {background-color: yellow; padding: 40px;}
</style> -->

</head>

  <body class="layout-two-column-left category">
    <div style="text-align: center">
      <h1>
      Rena IELTS Writing Training
      </h1>
    </div>
      <div class="header">
          <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/Task1.html">Task1</a></li>
              <li><a href="/Task2.html">Task2</a></li>
          </ul>
      </div>
      <hr>

      {% block content %}
      {% endblock %}

  </body>
</html>
