{% extends "base.html" %}


{% block content %}

<div style="display: block;">
  <div style = "background-color: rgb(10,42,102)">
  <p  style="font-size: 60; margin-left:auto;margin-right:auto;width:70%;background-color:#b0e0e6;">
    <label style="font-size: 100;">I know</label>
  </p>
  </div>
</div>

<div class="nav">
  <li>
    <a href="/">Home</a>
    <a href="/Task1.html">Task1</a>
    <a href="/Task2.html">Task2</a>
  </li>
</div>

<div  class="main-content">
<form>
  <h2>Add a Food</h2>
  <input type = "text" name = "food">
  {% if items %}
      {% for item in items %}
        <input type="hidden" name = "food" value = "{{item}}">
      {% endfor %}
  {% endif %}
  <button>Add</button>

<h2>Shopping List</h2>
<ul class="article">
  {% for item in items %}
    <li> {{item}}
    </li>
  {% endfor %}
</ul>
</div>
</form>

{% endblock %}
