
{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 1</title>

</head>

<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js">
</script>
<script>
var x = 1
$(document).ready(function(){
  $("#hint1").click(function(){
    $("div#showme").toggle();
  });
});
</script>


<body>
<div class="main-content" style="width: 600px;
    padding: 20px 20px 20px 20px;
    border: 1px solid #dddddd;
    border-radius:25px;
    margin: 30px auto 0 auto;
    background: #f1f1f1;
    -webkit-box-shadow: 0 0 22px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow:    0 0 22px 0 rgba(50, 50, 50, 1);
    box-shadow:         0 0 22px 0 rgba(50, 50, 50, 1);">
    <progress value="20" max="100"></progress>
<form class="student_answers" action="index.html" method="post">


    <div name="first part">1. What is the name of the charts below?
        <br>
        <img name="line graph" src='https://storage.googleapis.com/shilinalucyrena1.appspot.com/images/20180802Task1_Line%20graph.png' width="300">
        <br>
        <input name="name of chart">
        <p id ="hint1" onclick="function">点击下方显示/隐藏答案</p>
        <div id="showme"  style="display:none">
        <p>line graph</p>
        </div>

        <br>

        <hr>
        <br>
        <img name="pie chart" src='https://storage.googleapis.com/shilinalucyrena1.appspot.com/images/20180908Task1_bar%20chart.png' width="300">
        <br>
        <input name="name of chart">
        <p id ="hint2" onclick="function">点击下方显示/隐藏答案</p>
        <div id="showme"  style="display:none">
        <p>pie chart</p>
        </div>
        <br>
        <hr>
        <br>
        <img name="bar chart" src='https://storage.googleapis.com/shilinalucyrena1.appspot.com/images/20180728Task1_bar%20chart.png' width="300">
        <br>
        <input name="name of chart">
        <p id ="hint3" onclick="function">点击下方显示/隐藏答案</p>
        <div id="showme"  style="display:none">
        <p>bar chart</p>
      </div>
        <br>
        <hr>
        <br>
        <img name="map" src='https://storage.googleapis.com/shilinalucyrena1.appspot.com/images/20180818Task1_map.png' width="300">
        <br>
        <input name="name of chart">
        <p id ="hint4" onclick="function">点击下方显示/隐藏答案</p>
        <div id="showme"  style="display:none">
        <p>map</p>
      </div>
        <hr>
        <br>
        <img name="flow chart" src='https://storage.googleapis.com/shilinalucyrena1.appspot.com/images/20180721Task1_flow%20chart.png' width="300">
        <br>
        <input name="name of chart">
        <button type="submit">提交</button>
        <div id="showme"  style="display:none">
        <p>flow chart</p>
      </div>

        <p>
          <hr>
        <input type="submit">

    </div>
</form>
</div>
</body>
</html>

{% endblock %}
